HW14-CLR/Solution/HW14CLR/HW14CLR/EmbeddedResourceFiles/UsersSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="User">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Surname" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Patronymic" type="xs:string" />
              <xs:element name="Birthday" type="xs:date" />
              <xs:element name="Phone" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>